body{
    margin: 0;
    background-image:url("../images/honeycomb.png");
}

.navbar {
    z-index: 5;
    position: absolute;
    top:0;
    margin-top:2vh;
    overflow: hidden;
    width: 100%;
    height:28vh;
}

.logo{
    height:20vh;
}

.link-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a {
    font-family: 'Montserrat', sans-serif;
    color: #020403;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3.2vh;
}

.navbar a.active {
    background-color: indianred;
    color: white;
}

.main-image{
    width:100%;
    vertical-align: bottom;
    display: block;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 3.2vh;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Montserrat', sans-serif;
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #020403;
    color:white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 2.7vh;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #020403;
    color:white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display:block;
}

.navimage{
    height:100%;
}

.menu-overlay {
    position: relative;
    text-align: center;
}

.menu-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width:60%;
    font-family: 'Titillium Web', sans-serif;
    font-size:5vh;
}

.navbar-2 {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 4;
    height:10.5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Links inside the navbar */
.navbar-2 a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.2vh;
}

/* Change background on mouse-over */
.navbar-2 a:hover {
    background: white;
    color: black;
}


.logo-2{
    height:9vh;
}

.active-2 {
    background-color: indianred;
    color: white;
}

.hide{
    display:none;
}

.gallery-container{
    position:relative;
}

.gallery-title{
    background-color: white;
    margin-top:0%;
    margin-left:0%;
}

.title-text{
    position:relative;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size:9vh;
    top:0.5vh;
    /*left:7vh;*/
    text-align: center;
    display: flex;
    justify-content: center;
}

.gallery-main{
    position:relative;
    display:flex;
    justify-content: space-around;
    margin-top:4%;
}

.gallery{
    height:52vh;
    width:40vh;
    border-radius: 18px;
    border: 4px solid #6eafe8;
}

.text{
    margin:0px 0px 0px 0px;
    font-weight: lighter;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.event-name{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    color:#6eafe8;
    font-size:5.5vh;
}

.gallery-img{
    position:relative;
    height:50%;
    width:100%;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom:1.5vh;
}

.overlay-wrapper {
    display:none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.overlay-bg {
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.8;
}

.close{
    position:fixed;
    right:10px;
    top:10px;
    z-index:2;
}

.pa-gallery-player-widget{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:3;
    width:65vw;
    height:55vh;
}

#back{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color:white;
    float: right;
    margin-right:7vw;
    font-size:4vh;
    top:3.5vh;
}

/* Add a black background color to the top navigation */
.navigation-container {
    background-color: #338edf;
    overflow: hidden;
}

.button-container{
    margin-left:5.5vw;
}

/* Style the links inside the navigation bar */
.button-container a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2vh 6vh;
    text-decoration: none;
    font-size: 3.3vh;
    font-family: 'Montserrat', sans-serif;

}

/* Change the color of links on hover */
.button-container a:hover {
    background-color: white;
    color: black;
}

/* Add a color to the active/current link */
.button-container a.active {
    background-color: #008080;
    color: white;
}

.row {
    display: flex;
    flex-wrap:wrap;
    width:96%;
    margin-left:3.2%;
    margin-bottom:3.2%;
    margin-top:2.5%;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 24%;
    max-width: 24%;
    padding: 0 0.2vw;
}

.column img {
    margin-top: 2vh;
    vertical-align: middle;
    width: 100%;
}

.column img:hover{
    filter: brightness(70%);
}
